/* src/App.css */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #10243a;
  max-width: 2000px;

  margin: 10px;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2b2623;
  color: #fcb32c;
  border-bottom: 1px solid #e6eef6;
}

.header-right {
  display: flex;
  color: #fcb32c;
}

.footer {
  background-color: #2b2623;
  color: white;
  padding: 40px 40px;
}

.footer-container {
  display: flex;
  margin-left: 50px;
  gap: 10px;
}

.footer-column {
  flex: 1;
  max-width: 400px;
}

.footer-column1 {
  flex: 1;
  max-width: 550px;
}

.footer-column2 {
  flex: 1;
  max-width: 300px;
  margin-left: 10px;
}


.footer-title {
  color: #fcb32c;
  margin-bottom: 15px;
}

.footer-column p,
.footer-column li {
  margin: 8px 0;
}

.subscribe {
  display: flex;
  margin-top: 10px;
}

.subscribe input {
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

.subscribe button {
  background-color: #b12d20;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 14px;
}

.button {

  background-color: #fcb32c;

  color: #fcb32c;

  border: 1px solid #fcb32c;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #fcb32c;

  color: white;

}



.product-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 24px;
  justify-content: center;
  background: 1px solid rgb(236, 23, 23);

}

.product-card {
  border: 1px solid #e4eef6;
  padding: 12px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  background: rgb(247, 242, 170);
}

.cart {
  border: 1px solid #e4eef6;
  padding: 12px;
  width: 360px;
  background: rgb(247, 202, 202);
  border-radius: 8px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #047bf3;
}

.cart-controls button {
  padding: 4px 8px;
}

main {
  display: flex;
  gap: 4px;
  padding: 10px;
}

.cart-aside {
  position: sticky;
  top: 24px;
  align-self: flex-start;
}